<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Chris and Sheena (dot com!)</a>
	</nav>
</header>

<main role="main">
	<div class="container">
		<ngb-carousel>
			<ng-template ngbSlide>
				<img src="https://www.w3schools.com/bootstrap4/chicago.jpg" />
				<div class="carousel-caption text-left">
					<h3>Our New Website!</h3>
					<p>Yup. It's a website.</p>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>

	<footer class="container">
		<p>&copy; 2018, Chris and Sheena</p>
	</footer>
</main>